.contaier {
  width: 8em;
  height: 2em;
  border-radius: 0.3em;
  position: relative;
  background-color: #1d3d50;
  display: flex;
  // overflow: hidden;
  z-index: 1;
}
.powerSection {
  width: 60%;
  height: 100%;
  // background-color: aqua;
  position: relative;
}

.circle {
  position: absolute;
  top: 50%;
  left: 18%;
  width: 0.8em;
  height: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: antiquewhite;

  button {
    border: none;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #28333a;
    cursor: pointer;
  }
}
.powerBackLight {
  width: 90%;
  height: 0.2em;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
}

.ledsGrid {
  // background-color: aqua;
  width: 36%;
  height: 60%;
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-50%);
  span {
    height: 0.2em;
    border-radius: 1rem;
    background-color: #22333d;
  }
}

.powerBackLightColorGreen {
  background: linear-gradient(
    to right,
    rgb(172, 224, 172),
    rgb(55, 250, 55) 10%,
    rgb(55, 250, 55) 20%,
    antiquewhite
  );
  box-shadow: 0 0 1px 1px rgba(55, 250, 55, 0.164),
    0 0 2px 3px rgba(55, 250, 55, 0.055);
}

.circleGreen {
  background-color: rgb(55, 250, 55);
  box-shadow: 0 0 1px 1px rgba(55, 250, 55, 0.418),
    0 0 1px 2px rgba(55, 250, 55, 0.288), 0 0 1px 3px rgba(55, 250, 55, 0.096);
}

.powerBackLightColorRed {
  background: linear-gradient(
    to right,
    rgb(228, 103, 103),
    rgb(250, 55, 55) 10%,
    rgb(250, 55, 55) 25%,
    antiquewhite
  );
  box-shadow: 0 0 1px 1px rgba(252, 86, 57, 0.267),
    0 0 2px 3px rgba(250, 78, 55, 0.116);
}

.circleRed {
  background-color: rgb(250, 55, 55);
  box-shadow: 0 0 1px 1px rgba(250, 55, 55, 0.411),
    0 0 1px 2px rgba(250, 55, 55, 0.288), 0 0 1px 3px rgba(250, 55, 55, 0.096);
}
