.title {
  grid-area: tit;
  text-align: center;
  align-self: flex-end;
  font-size: 5rem;
}
.lineText {
  align-self: center;
  font-size: 1.2rem;

  color: #c2c2c2;
  span {
    color: #36c1f0b7;
    // font-size: 2rem;
    font-weight: 900;
  }
}
.w {
  grid-area: w;
}
.e {
  grid-area: e;
}
.r {
  grid-area: r;
}
.t {
  grid-area: t;
}
.y {
  grid-area: y;
}
.u {
  grid-area: u;
}
