.container {
  max-width: 25rem;
  width: 95%;
  aspect-ratio: 1/1;
  // background-color: rgba(0, 255, 255, 0.198);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.containerBack {
  position: relative;
  width: 70%;
  height: 70%;
  // background-color: rgba(0, 255, 255, 0.198);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 3s;
  border-radius: 50%;
  animation-name: go;
}
@keyframes go {
  0% {
    transform: rotate(30deg) scale(1.4);
  }
  50% {
    transform: rotate(30deg) scale(1.6);
  }
  100% {
    transform: rotate(60deg) scale(1);
  }
}

// *** Parte frontal en donde se encuentra la imagen y los anillos
.front {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  background-color: #1e2227;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
.ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 25px 0px #0093c4, -5px -5px 25px 0px #b645ea,
    -5px 5px 25px 0px #8b73ec, 5px -5px 25px 0px #8b73ec,
    inset 0px 0px 10px 4px rgb(173, 173, 173);
  animation-name: rotate360;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 70%;
  height: 70%;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 30rem;
    width: 95%;
    aspect-ratio: 1/1;
  }
}
