.header768{
  display: none;
}
.header{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  right:-100%;
  transition: 0.3s all ease-in-out;
  & nav{
    position: absolute;
    right: 0;
    width: 15rem;
    height: 100%;
    background-color: #1d2024e3;
    padding: 7rem 0 0 0;
    & li{
      list-style: none;
      text-align: center;
      & a{
        width: 100%;
        line-height: 4rem;
        display: inline-block;
        text-decoration: none;
        color: #4FC3F7;
        font-size: 1.5rem ;
        text-transform: uppercase;
        // margin: 1rem 0;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.headerOpen{
  right: 0;
}

.ImgMenu{
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  transform: scale(0.8);
  background-color: transparent;
  border: none;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  transition: 0.3s all ease-in-out;
  & img{
    width: 100%;
  }
}
.menuBotonOpen {
  transform: rotate(45deg) scale(0.9) ;
}
@media (min-width: 768px){
  
  .header ,.ImgMenu{
    display: none;
  }
  .header768{
    width: 100%;
    display: inline-block;
    position: fixed;
    height: 4.375rem;
    top: 0;
    display: flex;
    justify-content: center;
    & ul{
      width: 25rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & li{
      list-style: none;
      text-align: center;
      & a{
        line-height: 4rem;
        text-decoration: none;
        color: #FFF;
        font-size: 1.5rem ;
        text-transform: uppercase;
        // margin: 1rem 0;
        font-weight: 500;
        
      }
    }
  }
  .containerIcoAndLogo{
    // background-color: antiquewhite;
    height: 100%;
    width: 18rem;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & section{
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
    }
    & img{
      width: 3.5rem;
      margin: 0 1rem;
    }
  }
  
  .onScroll{
    background-color: #fff;
    transition: all .3s ease-in-out ;

    & ul{
      & li{
        & a{
          color: #0093c4;
        }
      }
    }
  }
  .onScrollLogo{
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
  }
  .onScrollLogoFin{
    transform: rotate(0deg);
    transition: all .5s  ease-in-out;
  }
  

}