.header{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left:-100%;
  & nav{
    width: 10rem;
    height: 100%;
    background-color: rgba(245, 245, 220, 0.582);
  }
  transition: 0.3s all ease-in-out;
}
.headerOpen{
  left: 0;
}

.ImgMenu{
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: scale(0.8);
  background-color: transparent;
  border: none;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  transition: 0.3s all ease-in-out;
  & img{
    width: 100%;
  }
}
.menuBotonOpen {
  transform: rotate(45deg) scale(0.9) ;
}