.content {
  width: 90%;
  max-width: 70rem;
  margin: 1rem auto 0;
  height: auto;
  background: linear-gradient(to right, #ae43f179, transparent);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  h2 {
    margin-bottom: 0.5rem;
  }
  p {
    color: #c2c2c2;
    margin-bottom: 1rem;
  }
}
.contentBackend {
  background: linear-gradient(to right, transparent, #ae43f179);
  h2 {
    text-align: right;
  }
  p {
    text-align: right;
  }
}

.containerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  a:hover {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.imgIcon {
  width: 2.5rem;
}
.informationSkills {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.containerLaptop {
  margin: 0 2rem 0 0;
}
.containerServer {
  margin: 0 0 0 2rem;
}
.mobileTitle {
  display: none;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    background: #ae43f14c;
  }
  .mobileTitle {
    display: block;
  }
  .contentBackend {
    flex-direction: column-reverse;
  }
  .containerServer,
  .containerLaptop {
    margin: 0;
  }
  .informationSkills {
    h2 {
      display: none;
    }
    p {
      text-align: left;
    }
  }
}
