.login_box {
  width: 85%;
  max-width: 400px;
  padding: 2rem;
  background: #23272e;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  // border-radius: 10px;
}


.user_box {
  position: relative;
  & input,
  textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    &:focus ~ label,
    &:valid ~ label {
      top: -20px;
      left: 0;
      color: #cd86fa;
      font-size: 12px;
    }
  }
  & textarea {
    min-height: 7rem;
    resize: none;
  }
  & label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
}

.login_box form button {
  position: relative;
  padding: 10px 20px;
  color: #cd86fa;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  transition: 0.2s;
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
}

.login_box button:hover {
  background: #cd86fa;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
