.header768 {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  right: -100%;
  transition: 0.3s all ease-in-out;
  z-index: 999999999999;
  nav {
    position: absolute;
    right: 0;
    width: 15rem;
    height: 100%;
    background-color: #1d2024;
    padding: 7rem 0 0 0;
    li {
      list-style: none;
      text-align: center;
      a {
        width: 100%;
        line-height: 4rem;
        display: inline-block;
        text-decoration: none;
        color: #4fc3f7;
        font-size: 1.5rem;
        text-transform: uppercase;
        // margin: 1rem 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.headerOpen {
  right: 0;
}

.ImgMenu {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: transparent;
  border: none;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  // z-index: 100000000;
  img {
    width: 100%;
  }
}
.menuBotonOpen {
  transform: rotate(45deg) scale(0.9);
}
@media (min-width: 768px) {
  .header,
  .ImgMenu {
    display: none;
  }
  .header768 {
    width: 100%;
    display: inline-block;
    position: fixed;
    height: 4.5rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 999999999999;
    .nav {
      margin-right: 1rem;
      ul {
        // width: 25rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      li {
        list-style: none;
        text-align: center;
        a {
          line-height: 4rem;
          text-decoration: none;
          color: #fff;
          font-size: 1.3rem;
          text-transform: uppercase;
          margin: 1.5rem;
          font-weight: 500;
        }
      }
    }
  }
  .containerIcoAndLogo {
    height: 100%;
    width: 18rem;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    section {
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 3.5rem;
        margin: 0 0.75rem;
      }
    }
  }

  .onScroll {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    .nav {
      ul {
        li {
          a {
            color: #0093c4;
          }
        }
      }
    }
  }
  .onScrollLogo {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
  }
  .onScrollLogoFin {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
  }
}
