.description768{
display: none;
}
.description{
  min-width: 21rem;
  max-width: 25rem;
  // background-color: rgba(157, 255, 0, 0.193);
  height: 15rem;
  margin: 0 1rem;
  text-align: center;
  & h1{
    font-weight: 700;
    text-transform: uppercase;
    & span{
      color:#36c0f0 ;
    }
  }
  & p {
    display: inline;
    line-height: 1rem;
    position: relative;
    color: #c2c2c2;
    & h1{
      display: inline;
      font-size: 2rem;
      line-height: .1rem;
      color:#36c1f0b7 ;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}
@media (min-width: 768px){
  .twoPoints{
    position: relative;
    
  }
  .description{
    display: none;
  }
  .description768{
    display: block;
    max-width: 30rem;
    height: auto;
    & h1{
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2rem;
      & span{
        color:#36c0f0 ;
      }
    }
    & p {
      display: inline;
      line-height: 1rem;
      position: relative;
      font-size: 1rem;
      color: #c2c2c2;
      & h1{
        display: inline;
        line-height: .1rem;
        color:#36c1f0b7 ;
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }
  }
}

