.formContainer{
  width: 20rem;
  height: 20rem;
  background-color: #474A59;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:  2rem;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  align-items: center;
  & label{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  & p{
    color: #B85DF0;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 1px;
    height: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  & input{
    background: transparent;
    font-size: 1rem;
    outline: none ;
    border: 0;
    font-size: 20px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    &:hover{

      border-bottom: 2px solid #B85DF0 ;
      border-top: 2px solid transparent;
    }
    &:focus-visible{
      border-top: 2px solid transparent;
      border-bottom: 2px solid #B85DF0 ;
    }
  }
  & textarea{
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 1rem;
    height: 5rem;
    color: #fff;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent ;
    &:focus-visible{
      border-top: 2px solid transparent;
      border-bottom: 2px solid #B85DF0 ;
    }
    &:hover{
      border-bottom: 2px solid #B85DF0 ;
      border-top: 2px solid transparent;
    }
  }
  & button{
    background-color: #B85DF0;
    border: none;
    padding: 1rem;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (min-width: 768px){
  .formContainer{
    width: 25rem;
    height: 25rem;
    display: flex;
    padding:  2.5rem;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    align-items: center;
  }
}