.containerFront {
  width: 20rem;
  height: 11rem;
  // background-color: aliceblue;
  display: flex;
  // font-size: 16px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backscreen {
  height: 9em;
  width: 16em;
  background-color: #343434;
  border-radius: 0.3em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen {
  overflow: hidden;
  width: 15em;
  height: 8em;
  background-color: #f6fbfe;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(40, 1fr);
}
.webcam {
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-top: 0.11em;
  background-color: #dbdddb;
}
.baseBlack {
  width: 19.5em;
  height: 1em;
  border-radius: 0.45em;
  background-color: #323232;
}
.graypart {
  width: 19.54em;
  background-color: #c2c3c9;
  height: 0.9em;
  border-radius: 0 0 0.2em 0.2em;
  transform: translateY(-0.2em) translateX(-0.02em);
  position: relative;
  &::after {
    content: '';
    width: 6em;
    height: 0.35em;
    background-color: #323232;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.firstRectangle {
  background-color: #0099ff;
  grid-area: 2 / 2 / 7 / 8;
}
.firstLines {
  grid-area: 2 / 9 / 2 / 25;
  background-color: #868588;
  &:nth-child(2) {
    grid-area: 4 / 9 / 5 / 25;
  }
  &:nth-child(3) {
    grid-area: 6 / 9 / 7 / 25;
  }
}
.video {
  grid-area: 8 / 2 / 32 / 31;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1em;
  background-color: #ff6666;
  img {
    width: 100%;
  }
  &:hover .button {
    opacity: 0.7;
  }
}
.multicolorPoint {
  grid-area: 33 / 2 / 33 / 3;
  background-color: #74d7aa;
  &:nth-child(7) {
    grid-area: 35 / 2 / 36 / 3;
  }
  &:nth-child(8) {
    grid-area: 37 / 2 / 38 / 3;
  }
  &:nth-child(9) {
    grid-area: 33 / 9 / 34 / 10;
  }
  &:nth-child(10) {
    grid-area: 35 / 9 / 36 / 10;
  }
  &:nth-child(11) {
    grid-area: 37 / 9 / 38 / 10;
  }
  &:nth-child(12) {
    grid-area: 33 / 16 / 34 / 17;
  }
  &:nth-child(13) {
    grid-area: 35 / 16 / 36 / 17;
  }
  &:nth-child(14) {
    grid-area: 37 / 16 / 38 / 17;
  }
  &:nth-child(15) {
    grid-area: 33 / 23 / 34 / 24;
  }
  &:nth-child(16) {
    grid-area: 35 / 23 / 36 / 24;
  }
  &:nth-child(17) {
    grid-area: 37 / 23 / 38 / 24;
  }
}
.grayLinesFooter {
  grid-area: 33 / 3 / 34 / 8;
  background-color: #848387;
  &:nth-child(18) {
    grid-area: 35 / 3 / 36 /8;
  }
  &:nth-child(19) {
    grid-area: 37 / 3 / 38 /8;
  }
  &:nth-child(20) {
    grid-area: 33 / 10 / 34 /15;
  }
  &:nth-child(21) {
    grid-area: 35 / 10 / 36 /15;
  }
  &:nth-child(22) {
    grid-area: 37 / 10 / 38 /15;
  }
  &:nth-child(23) {
    grid-area: 33 / 17 / 34 / 22;
  }
  &:nth-child(24) {
    grid-area: 35 / 17 / 36 /22;
  }
  &:nth-child(25) {
    grid-area: 37 / 17 / 38 /22;
  }
  &:nth-child(26) {
    grid-area: 33 / 24 / 34 / 31;
  }
  &:nth-child(27) {
    grid-area: 35 / 24 / 36 /31;
  }
  &:nth-child(28) {
    grid-area: 37 / 24 / 38 /31;
  }
}

.multicolorPointsRight {
  background-color: #ffcc66;
  grid-area: 2 / 34 / 5 /36;
  &:nth-child(30) {
    grid-area: 6 / 34 / 9 /36;
  }
}
.grayLinesTopRight {
  background-color: #848387;
  grid-area: 2 / 37 / 3 /48;
  &:nth-child(32) {
    grid-area: 4 / 37 / 5 /45;
  }
  &:nth-child(33) {
    grid-area: 6 / 37 / 7 /48;
  }
  &:nth-child(34) {
    grid-area: 8 / 37 / 9 /45;
  }
}
.asideGraySection {
  background-color: #87868a;
  grid-area: 12 / 34 / 27 /49;
}
.whiteLinesInsideGraySection {
  background-color: #dedddf;
  grid-area: 13 / 35 / 13 /47;
  &:nth-child(37) {
    grid-area: 15 / 35 / 16 /45;
  }
  &:nth-child(38) {
    grid-area: 18 / 35 / 19 /47;
  }
  &:nth-child(39) {
    grid-area: 20/ 35 / 21 /45;
  }
  &:nth-child(40) {
    grid-area: 23/ 35 / 24 /47;
  }
  &:nth-child(41) {
    grid-area: 25/ 35 / 26 /45;
  }
}
.middleRightRectangle {
  background-color: #66cccc;
  grid-area: 30/ 34/ 33 /45;
  &:nth-child(43) {
    background-color: #9a79e1;
    grid-area: 30/ 45 / 33 /49;
  }
}
.bottomRightLines {
  background-color: #848387;
  grid-area: 34/ 34 / 35 /49;
  &:nth-child(45) {
    grid-area: 36/ 34 / 37 /49;
  }
  &:nth-child(46) {
    grid-area: 38/ 34 / 39 /49;
  }
}
.button {
  position: absolute;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #848387;
  opacity: 0;
  &:hover {
    color: #0099ff;
    opacity: 1 !important;
  }
}
